{% extends "base.html" %}
{% block titulo %}
	{{vista}}
{% endblock titulo %}
{% block activo_pizarra %}
	active
{% endblock activo_pizarra %}
{% block jqueryestra %}
<script type="text/javascript" src= "{{STATIC_URL}}js/panaderia.js"></script>
{% endblock jqueryestra %}

{% block contenido %}

{% if not msg %}
	<h1>Pedido del {{fecha.fecha_entrega}}</h1>
{%else%}
		<h1>Pedido del {{fecha}} --> </h1>
{% endif %}

{% if msg %}
			<h1>{{msg}} </h1>
		{%else%}
			{% regroup seccion by tipo  as todo  %}
<br>
<h3>Grupo A</h3>
<div class="row-fluid">
	<div class="span10">
		<table class ='pizarra'>
			<tr class='cabeza'>
				<td>Nombre</td>
				<td>Quesadilla Especial</td>
				<td>Quesadilla Normal</td>
				<td>Torta de Azucar</td>
				<td>Torta de Yema</td>
				<td>Accion</td>
			</tr>
			{% for todos in todo  %}
				<tr>
					<td>{{todos.grouper.cliente}}</td>
					{% for prod in todos.list  %}
						<td>{{prod.cantidad}}</td>
					{% endfor %}
					<td>
					<div class="btn-group">
						<button name='.clase{{forloop.counter}} ' class = 'accion btn btn-info btn-lg ' >Mas >></button>
						<a href="pizarra/entrega/expres/{{todos.grouper.id}}" class="btn btn-primary entrega-express{{forloop.counter}}  btn-lg">Entregar</a>
					</div>

					</td>
				</tr>
				<tr>
					<td colspan=6 class="clase22">
						<div class="clase{{forloop.counter}}" style="display:none">
							<div class="row-fluid">
								<div class="span12 nombre_opcion_pizarra"> Cambios</div>
							</div>
							<div class="row-fluid pizarra_grupo_dentro ">
								<div class="span12">
									<form action="" method="post" class='campo-entrega'>{% csrf_token %}
										<input id="id_id" name="id" type="hidden" value='{{todos.grouper.id}}'>
										<div class="row-fluid">
											{% for form in formset %}
												<div class="tipo_grupo_pizarra{{forloop.counter}} span2 ">
												{{form.de_mas}}
												{{form.de_menos}}
												</div>

											{% endfor %}
											<div class="span2 tipo_grupo_pizarra">
												{{form_compenzacion.cantidad}} {{form_compenzacion.tipo}}
											</div>
											<div class="span2 tipo_grupo_pizarra">
												<input type="submit" value="Entregar" class='btn btn-primary'>
											</div>
										</div>
									</form>
								</div>
							</div>
							<div class="row-fluid">
								<div class="span12 nombre_opcion_pizarra"> Opciones de Grupo</div>
							</div>
							<div class="row-fluid pizarra_grupo_dentro ">
								<div class="span12">
									<form action="" method="post" class='campo-entrega'>{% csrf_token %}
										<input id="id_id" name="id" type="hidden" value='{{todos.grouper.id}}'>
											<div class="tipo_grupo_pizarra">
											<select id="id_grupo" name="grupo" >
												{% for n in opcion  %}
												<option value="{{n}}">{{n}}</option>
												{% endfor %}
											</select>
											<select name="posicion" id="id_posicion">
												{% for posicion in puestos %}
													<option value="{{posicion}} ">{{posicion}} </option>
												{% endfor %}
											</select>
												<input type="submit" value="Entregar" class='btn btn-primary '>
											</div>
									</form>
								</div>
							</div>
						</div>
					</td>
				</tr>
			{% endfor %}
		</table>
	</div>
	<div class="span2 fondo2">

			<h6 class='titulo'>Totales</h6>
				{% for sum in sumatorias %}
					{{sum.nombre}} <br>
					{{sum.suma}} <br>
				{% endfor %}
	</div>

</div>
{%endif%}

{% endblock contenido %}