{% extends "base.html" %}
{% block titulo %}
	{{vista}}
{% endblock titulo %}
{% block activo_pizarra %}
	active
{% endblock activo_pizarra %}
{% block contenido %}
{% if not msg %}
	<h1>Pedido del {{fecha.fecha_entrega}}</h1>
{%else%}
		<h1>Pedido del {{fecha}} --> </h1>
{% endif %}
<!--
<div class="row-fluid">
	<div class="span9 fondo" >

		{% if msg %}
			<h1>{{msg}} </h1>
		{%else%}
			{% regroup pedido by tipo  as todo  %}
			<table class ='pizarra'>
				<tr class='cabeza'>
					<td>Nombre</td>
					<td>Quesadilla Especial</td>
					<td>Quesadilla Normal</td>
					<td>Torta de Azucar</td>
					<td>Torta de Yema</td>
					<td>Accion</td>
				</tr>
				{% for todos in todo  %}
					<tr>
						<td>{{todos.grouper.cliente}}</td>
						{% for prod in todos.list  %}
							<td>{{prod.cantidad}}</td>
						{% endfor %}
						<td>
								<form action="" method="post" class='form-inline campo-entrega'>{% csrf_token %}
									<input id="id_id" name="id" type="hidden" value='{{todos.grouper.id}} '>
									{{formset.de_mas}}
									{{formset.de_menos}}
									<input type="submit" value="Entregar" class='btn'>
								</form>


						</td>
					</tr>
				{% endfor %}
			</table>
			</div>
			<div class="span2 fondo2">
				<h6 class='titulo'>Totales</h6>
					{% for sum in sumatorias %}
						{{sum.nombre}} <br>
						{{sum.suma}} <br>
					{% endfor %}
			</div>
		{% endif %}
</div>
{{numero}}

-->
<!--secciones -->
{% if msg %}
			<h1>{{msg}} </h1>
		{%else%}
			{% regroup seccionA by tipo  as todo  %}
<br>
<div class="row-fluid">
	<div class="span5">
		<div class="span12">
			<h1>Clase A</h1>
			<table class ='pizarra'>
				<tr class='cabeza'>
					<td>Nombre</td>
					<td>Quesadilla Especial</td>
					<td>Quesadilla Normal</td>
					<td>Torta de Azucar</td>
					<td>Torta de Yema</td>
					<td>Accion</td>
				</tr>
				{% for todos in todo  %}
					<tr>
						<td>{{todos.grouper.cliente}}</td>
						{% for prod in todos.list  %}
							<td>{{prod.cantidad}}</td>
						{% endfor %}
						<td>
								<form action="" method="post" class='form-inline campo-entrega'>{% csrf_token %}
									<input id="id_id" name="id" type="hidden" value='{{todos.grouper.id}} '>
									{{formset.de_mas}}
									{{formset.de_menos}}
									<input type="submit" value="Entregar" class='btn'>
								</form>
						</td>
					</tr>
				{% endfor %}
			</table>
			<br>
		</div>
		{% regroup seccionB by tipo  as todo  %}
		<div class="span12">
			<h1>Clase B</h1>
			<table class ='pizarra'>
				<tr class='cabeza'>
					<td>Nombre</td>
					<td>Quesadilla Especial</td>
					<td>Quesadilla Normal</td>
					<td>Torta de Azucar</td>
					<td>Torta de Yema</td>
					<td>Accion</td>
				</tr>
				{% for todos in todo  %}
					<tr>
						<td>{{todos.grouper.cliente}}</td>
						{% for prod in todos.list  %}
							<td>{{prod.cantidad}}</td>
						{% endfor %}
						<td>
								<form action="" method="post" class='form-inline campo-entrega'>{% csrf_token %}
									<input id="id_id" name="id" type="hidden" value='{{todos.grouper.id}} '>
									{{formset.de_mas}}
									{{formset.de_menos}}
									<input type="submit" value="Entregar" class='btn'>
								</form>
						</td>
					</tr>
				{% endfor %}
			</table>
		</div>
	</div>
	{% regroup seccionC by tipo  as todo  %}
	<div class="span5">
		<h1>Clase C</h1>
		<table class ='pizarra'>
				<tr class='cabeza'>
					<td>Nombre</td>
					<td>Quesadilla Especial</td>
					<td>Quesadilla Normal</td>
					<td>Torta de Azucar</td>
					<td>Torta de Yema</td>
					<td>Accion</td>
				</tr>
				{% for todos in todo  %}
					<tr>
						<td>{{todos.grouper.cliente}}</td>
						{% for prod in todos.list  %}
							<td>{{prod.cantidad}}</td>
						{% endfor %}
						<td>
								<form action="" method="post" class='form-inline campo-entrega'>{% csrf_token %}
									<input id="id_id" name="id" type="hidden" value='{{todos.grouper.id}} '>
									{{formset.de_mas.errors}}
									{{formset.de_mas}}
									{{formset.de_menos.errors}}
									{{formset.de_menos}}
									<input type="submit" value="Entregar" class='btn'>
								</form>
						</td>
					</tr>
				{% endfor %}
			</table>
	</div>
	<div class="span2 fondo2">

				<h6 class='titulo'>Totales</h6>
					{% for sum in sumatorias %}
						{{sum.nombre}} <br>
						{{sum.suma}} <br>
					{% endfor %}

	</div>
</div>
{% endif %}
{{numero}}
{{formset.errors}}
<br>
<br>
<br>
{% endblock contenido %}

